<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/article.css">
    <title>Forum - Articles</title>
</head>
<body>
    <h1>Articles</h1>
    
    <div class="article">
        <h2>Tirtre 1</h2>
        <p>Ceci est le contenu du premier article</p>
        <div class="buttons">
            <button class="btn like">Like</button>
            <button class="btn dislike">Dislike</button>
        </div>
    </div>
    
    <div class="article">
        <h2>Titre 2 </h2>
        <p>Titre 3</p>
        <div class="buttons">
            <button class="btn like">Like</button>
            <button class="btn dislike">Dislike</button>
        </div>
    </div>
</body>
</html>
