{{define "accueil"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tech-Talks</title>
  <link rel="stylesheet" href="../../../public/css/accueil.css">
  <link rel="stylesheet" href="../../../public/css/article.css">
</head>
<body>
  <header>
    
    <div class="banner">
      <h1>Tech-Talks</h1>
    </div>
    <a class="home-button"  href="/accueil">
      <img src="/frontend/public/src/home/home.png" alt="Accueil">
    </a>
    <a class="profil-button" href="/profile">
      <img src="/frontend/public/src/profil/pp profil sans compte-1.png" alt="Profil">
    </a>
    <a class="à-propos-button" href="/about">
      <img src="/frontend/public/src/à propos/download-1.png.png" alt="À propos">
    </a>
  </header>
  

  <div class="main-container">
    <aside class="sidebar">
     <button for="filter-name"> <a href="/create_post">Créer un Post</a></button>
      <h2>Filtrer les catégories</h2>
      <form method="GET" action="/">
        <label for="filter-name">Nom de la catégorie</label>
        <input 
          type="text" 
          id="filter-name" 
          name="query" 
          class="sidebar-input" 
          placeholder="Rechercher une catégorie" />
        <button type="submit" class="sidebar-button">Rechercher</button>

        <label for="filter-composant">Composants</label>
        <select id="filter-composant" name="composants" class="sidebar-input">
          <option value="">Tous les composants</option>
          <option value="Carte Mère">Carte Mère</option>
          <option value="Carte Graphique">Carte Graphique</option>
          <option value="Processeur">Processeur</option>
          <option value="Écran">Écran</option>
          <option value="RAM">RAM</option>
          <option value="Stockage">Stockage</option>
          <option value="Alimentation">Alimentation</option>
          <option value="Refroidissement">Refroidissement</option>
          <option value="Accessoires">Accessoires</option>
        </select>

        <label for="filter-brand">Marque</label>
        <select id="filter-brand" name="brand" class="sidebar-input">
          <option value="">Toutes les marques</option>
          <option value="Asus">Asus</option>
          <option value="MSI">MSI</option>
          <option value="Gigabyte">Gigabyte</option>
          <option value="Intel">Intel</option>
          <option value="AMD">AMD</option>
          <option value="Nvidia">Nvidia</option>
          <option value="Samsung">Samsung</option>
          <option value="Corsair">Corsair</option>
        </select>
      </form>      
    </aside>
    {{template "posts" .Posts}}
  </div>
  
</body>

</html>
{{end}}
