body {     /* fond du forum */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b2838;
}

header .banner {     /*bandeau du haut */
  position: fixed;            
  top: 0;
  left: 0;
  width: 100%;               
  text-align: center;
  background-color: #171a21;
  color: white;
  padding: 15px 0;
  z-index: 100;             
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);  }

header .banner h1 {     /*titre du bandeau du haut */
  margin: 0;
  font-size: 2rem;
}

body {      /*corps du forum */
  padding-top: 60px;        
}


.main-container {    /*conteneur principal */
  display: flex;
  min-height: 100vh;
}

.sidebar {      /*barre latérale */
  width: 240px;
  background-color: #1d2029;
  color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {     /*titre de la barre latérale */
  margin-top: 0;
  font-size: 20px;
}

.sidebar label {      /*titre de la barre latérale */
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.sidebar-input {      /*champ de recherche */
  background-color: #2a475e;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.sidebar-button {    /*bouton de recherche */
  background-color: #2a475e;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {    /*bouton de recherche */
  background-color: #004E7C;
}

.content {     /*contenu principal */
  flex: 1;
  padding: 10px;
  background-color: #1b2838;
}

.grille {     /*grille des éléments */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.grid-item {      /*élément de la grille */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a475e;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {     /*élément de la grille */
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.grid-item img {      /*image de l'élément de la grille */
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.grid-item h2 {    /*titre de l'élément de la grille */
  margin: 0;
  text-align: left uppercase;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.home-button {     /*bouton de retour à l'accueil */
  position: fixed;          
  top: 15px;
  left: 5px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;               
}

.home-button:hover {      /*bouton de retour à l'accueil */
  background-color: #004E7C;
}

.home-button img {     /*image du bouton de retour à l'accueil */
  max-width: 300px;          
  max-height: 30px;
}

.home-button h2 {     /*titre du bouton de retour à l'accueil */
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.forum-button {     /*bouton de retour au forum */
  position: fixed;          
  top: 15px;
  left: 53px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;                
}

.forum-button:hover {     /*bouton de retour au forum */
  background-color: #004E7C;
}

.forum-button img {     /*image du bouton de retour au forum */
  max-width: 300px;          
  max-height: 30px;
}

.forum-button h2 {      /*titre du bouton de retour au forum */
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.profil-button {      /*bouton de retour au profil */
  position: fixed;          
  top: 15px;
  right: 5px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;                
}

      .profil-bouton-image {
          position: fixed;
          top: 10px;
          left: 10px;
          width: 40px;
          height: 40px;
          background: url('Forum/frontend/public/rsc/home/home.png') no-repeat center center;
          background-size: cover;
          border: none;
          cursor: pointer;
      }

.profil-button:hover {      /*bouton de retour au profil */
  background-color: #004E7C;
}

.profil-button img {      /*image du bouton de retour au profil */
  max-width: 300px;          
  max-height: 30px;
}

.profil-button h2 {     /*titre du bouton de retour au profil */
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.à-propos-button {      /*bouton de retour à la page à propos */
  position: fixed;          
  top: 15px;
  right: 50px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;                
}

.à-propos-button:hover {       /*bouton de retour à la page à propos */
  background-color: #004E7C;
}

.à-propos-button img {      /*image du bouton de retour à la page à propos */
  max-width: 300px;          
  max-height: 30px;
}

.à-propos-button h2 {     /*titre du bouton de retour à la page à propos */
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.post-container {    /* conteneur des posts */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.post-item {    /* élément des posts */
  background-color: #2a475e;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-item:hover {    /* effet au survol */
  transform: scale(1.005);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.post-item p {    /* texte des posts en blanc */
  color: white;
}

.titre-categories {
  margin: 10px 0;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}


.catégorie img {      /*image du bouton de retour à la page à propos */
  max-width: 300px;          
  max-height: 300px;
}
