.posts{
    background-color: #1c3144;
    border-radius: 10px;
    display: flex;
    height: fit-content;
    gap: 20px;
}

.post-card{
  background-color: #2a3f59;
  height: 300px;
}

p{
  color: white;
}