body {
  background-color: #1b2838;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b2838;
  }
  
  header .banner {
    text-align: center;
    background-color: #171a21;
    color: white;
    padding: 20px 0;
  }
  
  header .banner h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .main-container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #1d2029;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .sidebar label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .sidebar-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .sidebar-button {
    background-color: #2a475e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-button:hover {
    background-color: #004E7C;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #1b2838;
  }
  
  .grille {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a475e;
    color: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
  
    
  .grid-item h2 {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}