body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b2838;
  }
  
  header .banner {     
    position: fixed;            
    top: 0;
    left: 0;
    width: 100%;               
    text-align: center;
    background-color: #171a21;
    color: white;
    padding: 15px 0;
    z-index: 100;             
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);  }
  
  header .banner h1 {     
    margin: 0;
    font-size: 2rem;
  }
  
  .main-container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #1d2029;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .sidebar label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .sidebar-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .sidebar-button {
    background-color: #2a475e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #1b2838;
  }
  
  .grille {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f9fd;
    color: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
  
    
  .grid-item h2 {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  h4 {
    margin-top: 80px;
    border: none;
    background: #2a475e;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.card-body {
  padding: 20px;
  color: #fff;
}

.card-body {
  background-color: #2a475e;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;;
}

h6 {
  background-color: #2a475e;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

ul {
  background-color: #2a475e;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

ul li {
  background: #233b4e;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #000000;
  
}

.home-button {     
  position: fixed;          
  top: 15px;
  left: 10px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;               
}

.home-button:hover {      
  background-color: #004E7C;
}

.home-button img {     
  max-width: 30px;          
  max-height: 30px;
}

.home-button h2 {     
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.forum-button {     
  position: fixed;          
  top: 15px;
  left: 55px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;                
}

.forum-button:hover {    
  background-color: #004E7C;
}

.forum-button img {     
  max-width: 300px;          
  max-height: 30px;
}

.forum-button h2 {      
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.profil-button {      
  position: fixed;          
  top: 15px;
  right: 10px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;                
}

.profil-button:hover {      
  background-color: #004E7C;
}

.profil-button img {      
  max-width: 300px;          
  max-height: 30px;
}

.profil-button h2 {     
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.à-propos-button {      
  position: fixed;          
  top: 15px;
  right: 55px;
  background-color: #2a475e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 101;
  display: flex;            
  align-items: center;
  gap: 10px;                
}

.à-propos-button:hover {       
  background-color: #004E7C;
}

.à-propos-button img {      
  max-width: 300px;          
  max-height: 30px;
}

.à-propos-button h2 {     
  margin: 0;
  text-align: left;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}