<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secondary</title>
    <link rel="stylesheet" href="/frontend/public/css/secondary.css">
</head>
<body>
  <header>
    
    <div class="banner">
      <h1>Tech-Talks</h1>
    </div>
    <a class="home-button"  href="/frontend/template/home/forum/accueil.html">
      <img src="/frontend/public/src/home/home.png" alt="Accueil">
    </a>
    <a class="profil-button" href="/frontend/template/home/profile/profil.html">
      <img src="/frontend/public/src/profil/pp profil sans compte-1.png" alt="Profil">
    </a>
    <a class="à-propos-button" href="/frontend/template/home/secondary/about.html">
      <img src="/frontend/public/src/à propos/download-1.png.png" alt="À propos">
    </a>
  </header>
    <div class="container">
        <h4 class="font-weight-bold py-3 mb-4">À Propos de Nous</h4>
        <div class="card">
            <div class="card-body">
                <p>Bienvenue sur notre plateforme ! Nous sommes une équipe passionnée et dédiée à créer le meilleur site pour parler de tech en tout genre.</p>
                <p>Notre mission est d'offrir un lieu dédié au partage où l'on peut trouver des avis concrets en rapport avec l'informatique, que ce soit sur de l'équipement de bureautique jusqu'aux dernières innovations en robotique.</p>
                <br>
                <h6>Notre Équipe :
                <p>Nous sommes des étudiants en développement web qui cherchent à créer un forum web pour un projet pendant nos études.</p>
                <br>
            </h6>
            </div>
            <div>
                <ul>
                    <br>
                    <h7>Nos Buts :</h7>
                    <li><strong>Innovation :</strong> Toujours chercher de nouvelles façons d'améliorer l'expérience utilisateur.</li>
                    <li><strong>Fiabilité :</strong> Offrir un service stable et sécurisé.</li>
                    <li><strong>Accessibilité :</strong> Rendre notre plateforme simple et accessible à tous.</li>
                </ul>
            </div>
        </div>
    </div>
</body>

