<html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="/frontend/public/css/profil.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <div class="banner">
          <h1>Tech-Talks</h1>
        </div>
        <a class="home-button"  href="/frontend/template/home/forum/accueil.html">
          <img src="/frontend/public/rsc/home/home.png" alt="Accueil">
        </a>
      </header>

    <div class="logout">
     <h2>Déconnexion</h2>
        <link rel="stylesheet" href="/frontend/public/css/logout.css">
      <div class="main-container">
     <div class="content">
        <h4>Vous êtes bien déconnecté</h4>
        <h5> Vous pouvez revenir dans l'accueil en cliquant sur le bouton en haut à gauche.
        </h5>
     </div>
    </div>
    </div>
    </body>
</html>