<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="/frontend/public/css/profil.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
    
        <div class="banner">
          <h1>Tech-Talks</h1>
        </div>
        <a class="home-button"  href="/frontend/template/home/forum/accueil.html">
          <img src="/frontend/public/rsc/home/home.png" alt="Accueil">
        </a>
        <a class="profil-button" href="/frontend/template/home/profile/profil.html">
          <img src="/frontend/public/rsc/profil/pp profil sans compte-1.png" alt="Profil">
        </a>
        <a class="à-propos-button" href="/frontend/template/home/secondary/about.html">
          <img src="/frontend/public/rsc/à propos/download-1.png.png" alt="À propos">
        </a>
      </header>
      
    <div class="container">
        <h1>Profil Utilisateur</h1>
        </div>
            <br>
        <div class="profile-picture" id="profile-picture">
            <img src="../../../public/rsc/profil/pp profil sans compte.png">
        </div>
        <form id="profile-form" method="GET" action="update-profile">
            <div class="info-section">
                <h2>Informations du Compte</h2>
                <div class="info-item">
                    <span class="info-label">Nom du Compte :</span>
                    <span class="info-value" id="name"></span>
                    <input type="text" id="name-input" class="hidden"
                    
                <div class="info-item">
                <span class="info-label">Email :</span>
                <span class="info-value" id="email"></span>
                <input type="email" id="email-input" class="hidden"
                </div>

            <div class="posts-section">
                <h3>Posts envoyés</h3>

            </div>
            <div class="info-section">
                <h2>Informations Professionnelles</h2>
                <div class="info-item">
                    <span class="info-label">Profession :</span>
                    <span class="info-value" id="profession"></span>
                    <input type="text" id="profession-input" class="hidden">
                </div>
                <div class="info-item">
                    <span class="info-label">Entreprise :</span>
                    <span class="info-value" id="company"></span>
                    <input type="text" id="company-input" class="hidden">
                </div>
            </div>
            <a href="/frontend/template/home/profile/profil modif.html" id="edit-btn" class="btn">Modifier</a>
    </form>
    </div>
</body>
</html>